---
// src/pages/horario.astro
import Layout from "../layouts/Layout.astro";
import HorarioCreator from '../components/ScheduleCreator.tsx';
---

<Layout>
  <head>
    <title>Horario</title>
    <HorarioCreator client:load />

  </head>   
</html>