---
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const resources = await getCollection('resources')
---

<Layout>
	<a href="/resources/documentation">Docs</a>
</Layout>
