---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { SearchableRecommendationsDisplay } from "../../components/SearchableRecommendationsDisplay";

const recommendations = await getCollection("recommendations");
const searchParam = Astro.url.searchParams.get("search") || "";
---

<Layout>
  <main class="container mx-auto py-4">
    <SearchableRecommendationsDisplay
      recommendations={recommendations}
      initialSearchValue={searchParam}
      client:only="react"
    />
  </main>
</Layout>
