---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main>
    <a href="/recommendations" class="text-blue-600 hover:underline"
      >← go back</a
    >
    <h1 class="text-2xl font-bold mb-4">New Recommendation</h1>
    <form method="POST" action="/api/recommendation">
      <input
        type="text"
        name="code"
        placeholder="Código del curso"
        class="w-48 mb-4 p-2 border rounded"
      />
      <select name="qualification" class="w-16 mb-4 p-2 border rounded">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
      </select>
      <textarea name="content" class="w-full mb-4 p-2 border rounded"
      ></textarea>
      <input
        type="submit"
        value="Guardar"
        class="bg-blue-600 text-white px-4 py-2 rounded hover:cursor-crosshair"
      />
    </form>
  </main>
</Layout>
