---
interface Props {
	border?: boolean
}

const { border = true } = Astro.props
const borderStyle = border ? 'border border-border rounded-md' : ''
const paddingStyle = border ? 'px-4 sm:px-6 py-6 sm:py-8' : ''
---

<article class={`${borderStyle} overflow-hidden min-w-0`}>
	<div class={`${paddingStyle}`}>
		<div
			class="text-foreground content-markdown max-w-none overflow-hidden leading-relaxed break-words"
		>
			<slot />
		</div>
	</div>
</article>
