---
import { getCollection } from 'astro:content'
import BlogCard from '@/components/features/blog/BlogCard.tsx'
import Layout from '@/layouts/Layout.astro'

const blogs = await getCollection('blogs')
---

<Layout>
	<main class="grid md:grid-cols-2 lg:grid-cols-3">
		<div
			class="flex h-[60vh] w-full flex-col justify-center md:col-start-1 md:col-end-3 lg:col-start-1 lg:col-end-4 lg:h-[70vh]"
		>
			<h1 class="text-center text-3xl font-bold md:text-5xl">
				Descubre blogs creados por la comunidad
			</h1>
		</div>
		{
			blogs.map((blog) => {
				const { data } = blog
				const { title, author, readtime, description, tags } = data

				return (
					<div class="flex justify-center p-2">
						<BlogCard
							title={title}
							authorName={author?.name || 'Desconocido'}
							description={description}
							readtime={readtime}
							tags={tags || []}
						/>
					</div>
				)
			})
		}
	</main>
</Layout>
