---
import "@/styles/global.css";
import Header from "@/components/Header";
import Footer from "@/components/Footer.astro";
import ClientRouter from "astro/components/ClientRouter.astro";
import { Banner } from "@/components/ui/banner";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>BuscaRamos</title>
    <ClientRouter />
  </head>
  <body
    class="bg-background text-foreground min-h-screen"
  >
    <!-- Banner de Anuncios -->
    <Banner 
      variant="pink" 
      size="md" 
      icon="VeryHappyIcon" 
      dismissible={true} 
      bannerId="2025-3"
      client:only="react"
    >
    <strong>¡Ahora con Cuentas OSUC!</strong>: Crea tu cuenta y reseña cursos.
    </Banner>

    <!-- Main -->
    <main class="flex flex-col gap-4 px-2 sm:px-4 tablet:px-8">
      <Header client:only="react" />
      <slot />
      <Footer />
    </main>   
  </body>
</html>
