---
import "../styles/global.css";
import Header from "../components/Header";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ramos UC</title>
	</head>
	<body class="bg-background text-foreground flex flex-col gap-8 px-4 tablet:px-8">
		<Header client:only="react" />
		<slot />
	</body>
</html>