---
import '@/styles/global.css'

import MainHead from '@/layouts/MainHead.astro'

const {
	title = 'BuscaRamos',
	description = 'Tu plataforma para explorar ramos, reseñarlos y mucho más. Encuentra ramos de la universidad, revisa sus reseñas y comparte tus experiencias.',
	image,
	frontmatter,
} = Astro.props
---

<!doctype html>
<html lang="es">
	<MainHead title={title} description={description} image={image} frontmatter={frontmatter} />
	<body class="bg-background text-foreground min-h-screen">
		<main class="flex flex-col gap-4">
			<slot />
		</main>
	</body>
</html>
