---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <a href="/admin/reviews-reported" class="underline">REPORTED</a>
    <a href="/admin/reviews-pending" class="underline">PENDING</a>
</Layout>
